.feature {
  height: 100vh;
  margin: 0px;
  background-size: cover;
  position: relative;
}
.trails {
  background-image: url("./images/talesofarise.jpg");
}
.dragonage {
  background-image: url("./images/theveilguard.jpg");
}
.talesof {
  background-image: url("./images/trailsinthesky.jpg");
}
