body {
  margin: 0px;
}
.bg {
  height: auto;
  background-size: cover;
  position: relative;
}
.trails {
  background-image: url("./images/TrailsInTheSky1stChapter.jpg");
}
.dragonage {
  background-image: url("./images/theveilguard.jpg");
}

.tales {
  background-image: url("./images/talesofarise.jpg");
}
